{{ partial "head.html" . }}
<div class="site-wrap">
  {{ partial "header.html" . }}
  <div class="post p2 p-responsive wrap" role="main">
    <div class="measure"  itemscope itemtype="http://schema.org/BlogPosting">
      <div class="post-header mb2">
        <h1 itemprop="name" class="py2">{{ .Title }}</h1>
        <span class="post-meta" itemprop="datePublished" content={{ .Date.Format "2006-01-02" }} ><time datetime={{ .Date.Unix  }} aria-label="Article published the {{ .Date.Format "02/01/2006"}}" >{{ .Date.Format "Jan 2, 2006" }}</time> by <u  itemprop="author" itemscope="" itemtype="http://schema.org/Person" ><ins itemprop="name">{{ .Params.author }}</ins></u></span><br>
        {{ $baseurl := .Site.BaseURL }}
      </div>
      
       {{ partial "toc.html" . }}
      
      <article class="post-content" itemprop="articleBody">
      {{ .Content }}
      </article>
      {{ if isset .Params "tags" }}
      <p class="post-meta">{{ i18n "tags" }}:{{ range $i, $e := .Params.tags }}{{if $i}}, {{end}}<a href="{{ $baseurl }}{{ $.Site.LanguagePrefix }}tags/{{ . }}/">{{ . }}</a>{{ end }}</p>{{ end }}
      {{ partial "comments.html" . }}
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
{{ partial "script.html" . }}
</body>
</html>
