<div class="post" >
  <span class="post-meta left" itemprop="datePublished" content="{{ .Date.Format "2006-01-02" }}" aria-label="Article published the {{ .Date.Format "02/01/2006"}}"  >{{ .Date.Format "Jan 2, 2006" }}</span>
  <span class="post-meta right">{{ i18n "written" }} {{ .Params.author }}</span>
  <div class="clearfix"></div>{{ with  .OutputFormats.Get "amp" -}}
  <a class="post-link" href="{{ .RelPermalink }}" > {{- end }}
  <h3 class="h2 post-title"><div >{{ .Title }}</div> {{ if .Draft }}(draft){{end}}</h3></a>
  <p class="post-summary" >{{ .Summary }}</p>
  {{ if isset .Params "tags" }}
  {{ $baseurl := .Site.BaseURL }}
  <p class="post-meta">{{ i18n "tags" }}:&nbsp;
  {{ range $i, $e := .Params.tags }}
      {{if $i}},&nbsp;{{end}}
      <a href="{{ $baseurl }}{{ $.Site.LanguagePrefix }}tags/{{lower . }}/">{{ . }}</a>
  {{ end }}</p>
  {{ end }}
</div>
