{{ partial "head.html" . }}
<div class="site-wrap">
    {{ partial "header.html" . }}
    <div class="post p2 p-responsive wrap" role="main">
        <div class="measure">
          <div class="post-header mb2">
            <h1 class="py2" itemscope="" itemtype="http://schema.org/WebPage" itemprop="name">{{ .Title }} </h1>
          </div>
    {{- $type := .Type }}
    {{- range $key, $value := .Data.Terms.Alphabetical }}
    {{- $name := .Name }}
    {{- $count := .Count }}
    {{- with $.Site.GetPage (printf "/%s/%s" $type $name) }}
    <li>
        <a href="{{ .Permalink }}">{{ .Name }} - {{ $count }} </a>
    </li>
    {{- end }}
    {{- end }}
</div>
</div>
</div>
{{ partial "footer.html" . }}
