@media print {
	.measure {
	  column-count: 2;
	  -webkit-column-count: 2;
	  -moz-column-count: 2;
	}

	:root {
		--main-text: #000;
		--background-color: #fff;
		--wrapper-color: #fff;
		--link-color: #3e5471;
		--link-hover: #55acee;
		--sec-text: #4C566A;
		--button-text: #2E3440;
		--button-background: #D8DEE9;
		--button-accent: #f3f3f3;
		--button-disabled-background: #ECEFF4;
		--button-disabled-background-hover: #444;
		--form-background: #eceff4;
		--form-accent: #D8DEE9;
		--quotebar:#4C566A;
		--red:#a7444e  ;
		--green: #739654;
		--orange: #b15539;
		--yellow: #dea93f;
		--purple: #8d5e84;
		--blue: #50729b;
		--img-wrapper: #D8DEE9;
		--border-accent:#434C5E;
		/*
		--alpha: 0.25;
		--c-red: 191, 97, 106;
		--c-green: 163, 190, 140;
		--c-orange: 208, 135, 112;
		--c-yellow: 235, 203, 139;
		--c-purple: 180, 142, 173;
		*/
		--alpha: 0.25;
		--c-red: hsl(354, 42%, 80%);
		--c-green: hsl(92, 28%, 80%);
		--c-orange: hsl(14, 51%, 80%);
		--c-yellow: hsl(40, 71%, 80%);
		--c-purple: hsl(311, 20%, 80%);
		--c-blue: hsl(213, 32%, 80%);
		--t-red: hsl(354, 42%, 24%);
		--t-green: hsl(92, 28%, 21%);
		--t-orange: hsl(14, 51%, 23%);
		--t-yellow: hsl(40, 71%, 20%);
		--t-purple: hsl(311, 20%, 23%);
		--t-blue: hsl(213, 32%, 23%);
	  }


	  header, footer, .fullscreen-container, .post-tags, .pagination, .staticman {
		display: none;
	  }

	  aa[href^="http"]::after {
		content: " (" attr(href) ")";
		overflow-wrap: break-word;
	  }
	  
	  img{
		  opacity: 1;
	  }

	  pre {
		white-space: pre-wrap;
	}
  }