@charset "UTF-8";
.italic,
.meta,
.post-meta,
blockquote {
	font-style: italic
}

.oh,
.paginatin_area {
	overflow: hidden
}

.button,
a {
	text-decoration: none
}

body,
button,
input,
pre,
select,
textarea {
	margin: 0
}


h1.site-title {
    margin-block-start: 0;
    margin-inline-end: 0px;
    margin-block-end: 0;
    font-size: 24px;
}


dl,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
	margin-top: 0;
	margin-bottom: 1rem
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%
}

article{
	color: var(--main-text)

}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
	display: block
}

body {
	line-height: 1.5rem;
	font-weight: 400;
	
}

.f1,
.h1,
h1 {
	font-size: 2rem;
	line-height: 2.5rem
}

.f2,
.h2,
h2 {
	font-size: 1.5rem;
	line-height: 2rem
}

.f3,
.h3,
h3 {
	font-size: 1.25rem;
	line-height: 1.5rem
}

.f4,
.p,
dl,
h4,
h5,
h6,
ol,
p,
ul,
table {
	font-size: 1.125rem;
	line-height: 1.5rem
}

.f5,
.small,
small {
	font-size: .875rem;
	line-height: 1.5rem
}

@media screen and (min-width:48em) {
	.h1 {
		font-size: 4rem;
		line-height: 5rem
	}
	.h2 {
		font-size: 2rem;
		line-height: 2.5rem
	}
	.h3,
	.p {
		line-height: 2rem
	}
	.h3 {
		font-size: 1.5rem
	}
	.p {
		font-size: 1.25rem
	}
	.small {
		font-size: 1rem
	}
}

@media screen and (min-width:64em) {
	.h1 {
		font-size: 6rem;
		line-height: 8rem
	}
	.h2 {
		font-size: 3rem;
		line-height: 3.5rem
	}
	
}

.bold,
strong {
	font-weight: 700
}

.regular {
	font-weight: 400
}

.caps {
	text-transform: uppercase;
	letter-spacing: .2em
}

.center {
	text-align: center
}

.right-align {
	text-align: right
}
/*
.measure {
	max-width: 48rem
}
*/
.measure-narrow {
	max-width: 32rem
}

.measure-wide {
	max-width: 60rem
}

.fit,
.input,
img {
	max-width: 100%
}

.leading-1 {
	line-height: 1.5rem
}

.leading-2 {
	line-height: 2rem
}

.leading-3 {
	line-height: 3rem
}

.leading-4 {
	line-height: 4rem
}

.button,
.input {
	line-height: 2rem
}

.m0 {
	margin: 0
}

.mb0 {
	margin-bottom: 0
}

.m1 {
	margin: 1rem
}

.mt1 {
	margin-top: 1rem
}

.mr1 {
	margin-right: 1rem
}

.mb1 {
	margin-bottom: 1rem
}

.ml1 {
	margin-left: 1rem
}

.m2 {
	margin: 2rem
}

.mt2 {
	padding-top: 4rem;
	padding-bottom: 2rem
}

.mr2 {
	margin-right: 2rem
}

.mb2 {
	margin-bottom: 2rem
}

.ml2 {
	margin-left: 2rem
}

.m3 {
	margin: 3rem
}

.mt3 {
	margin-top: 3rem
}

.mr3 {
	margin-right: 3rem
}

.mb3 {
	margin-bottom: 3rem
}

.ml3 {
	margin-left: 3rem
}

.m4 {
	margin: 4rem
}

.mt4 {
	margin-top: 4rem
}

.mr4 {
	margin-right: 4rem
}

.mb4 {
	margin-bottom: 4rem
}

.ml4 {
	margin-left: 4rem
}

/*
.wrap {
	margin-right: auto;
	margin-left: auto
}
*/
.m-responsive {
	margin: 2rem
}

.mt-responsive {
	margin-top: 2rem
}

.mr-responsive {
	margin-right: 2rem
}

.mb-responsive {
	margin-bottom: 2rem
}

.ml-responsive {
	margin-left: 2rem
}

.p1 {
	padding: 1rem
}

.px1 {
	padding-right: 1rem;
	padding-left: 1rem
}

.py1 {
	padding-top: 1rem;
	padding-bottom: 1rem
}

.p2 {
	padding-right: 2rem;
	padding-left: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem
}

.px2 {
	padding-right: 2rem;
	padding-left: 2rem
}

.py2 {
	padding-top: 0;
	padding-bottom: 1rem
}

.p3 {
	padding: 3rem
}

.px3 {
	padding-right: 3rem;
	padding-left: 3rem
}

.py3 {
	padding-top: 3rem;
	padding-bottom: 3rem
}

.p4 {
	padding: 4rem
}

.px4 {
	padding-right: 4rem;
	padding-left: 4rem
}

.py4 {
	padding-top: 4rem;
	padding-bottom: 4rem
}

.p-responsive {
	padding: 0.5rem;
	padding-top: 2rem;
	
}

.px-responsive {
	padding-right: 1.5rem;
	padding-left: 1.5rem
}

.py-responsive {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem
}

@media screen and (min-width:48em) and (max-width:64em) {
	.m-responsive {
		margin: 3rem
	}
	.mt-responsive {
		margin-top: 3rem
	}
	.mr-responsive {
		margin-right: 3rem
	}
	.mb-responsive {
		margin-bottom: 3rem
	}
	.ml-responsive {
		margin-left: 3rem
	}
	.p-responsive {
		padding: 1rem;
		padding-top: 2rem;
		padding-right: 3rem;
		padding-left: 3rem
	}
	.px-responsive {
		padding-right: 3rem;
		padding-left: 3rem
	}
	.py-responsive {
		padding-top: 2rem;
		padding-bottom: 3rem
	}
}

@media screen and (min-width:64em) {
	.m-responsive {
		margin: 2rem
	}
	.mt-responsive {
		margin-top: 2rem
	}
	.mr-responsive {
		margin-right: 2rem
	}
	.mb-responsive {
		margin-bottom: 2rem
	}
	.ml-responsive {
		margin-left: 2rem
	}
	.p-responsive {
		padding: 1rem;
		padding-top: 2rem;
		padding-right: 2rem;
		padding-left: 2rem
	}
	.px-responsive {
		padding-right: 2rem;
		padding-left: 2rem
	}
	.py-responsive {
		padding-top: 2rem;
		padding-bottom: 4rem
	}

	.site-wrap{
		max-width: 78rem;
		margin: 0 auto;
	}

	
	.mt2 {
		margin-top: 6rem;
		padding-top: 4rem;
		padding-bottom: 2rem
	}
}


.inline {
	display: inline
}

.block {
	display: block
}

.inline-block {
	display: inline-block
}

.left {
	float: left
}

.right {
	float: right
}

.clearfix:after,
.clearfix:before {
	content: " ";
	display: table
}

.clearfix:after {
	clear: both
}

.full-width {
	width: 100%
}

.half-width {
	width: 50%
}

.mobile-show {
	display: none
}

@media screen and (max-width:48em) {
	.mobile-block,
	.mobile-show {
		display: block
	}
	.mobile-block {
		width: 100%
	}
	.mobile-hide {
		display: none
	}
	.mobile-center {
		text-align: center
	}
}

.button {
	cursor: pointer;
	border: 0;
	-webkit-appearance: none;
	appearance: none;
	white-space: nowrap;
	display: inline-block;
	height: auto;
	min-height: 2rem;
	padding: .5rem 1rem;
	border-radius: .25rem;
	transition-duration: .2s;
	transition-timing-function: ease;
	transition-property: box-shadow, background-color;
	
}


button.share{
	border: 1px solid var( --button-accent);
    background-color: var( --button-background);
    color: var( --main-text);
    display: inline-block;
    font: inherit;
    padding: 20px;
   min-width: 30px;
   border-radius: .1875em;
}


.border,
.input {
	border-style: solid;
	border-width: 1px
}

.input,
.select {
	height: 3rem;
	border-radius: .25rem
}

.button-big {
	padding: 1rem 1.5rem
}

.button-small {
	padding: 0 1rem
}

.form {
	font-size: 1rem
}

.input {
	appearance: none;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: .5rem
}

.select,
.textarea,
body {
	box-sizing: border-box
}

.select {
	margin-right: 0;
	margin-left: 0
}

.textarea {
	padding: 1rem;
	line-height: 1.5rem;
	border-radius: .25rem
}

.form-stacked .input,
.form-stacked .select,
.form-stacked label {
	display: block;
	width: 100%
}

.form-stacked .checkbox,
.form-stacked .input,
.form-stacked .radio,
.form-stacked .select {
	margin-bottom: 1rem
}

.list {
	padding-left: 2rem
}

.list-inline,
.list-simple {
	list-style: none;
	padding-left: 0
}

.list-inline li {
	display: inline;
	white-space: nowrap
}

.relative {
	position: relative
}

.absolute {
	position: absolute
}

.fixed {
	position: fixed
}

.t0 {
	top: 0
}

.r0 {
	right: 0
}

.b0 {
	bottom: 0
}

.l0 {
	left: 0
}

.z1 {
	z-index: 1
}

.z2 {
	z-index: 2
}

.z3 {
	z-index: 3
}

.z4 {
	z-index: 4
}

.absolute-center {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	display: table
}

.site-wrap:after,
footer:after {
	content: "";
	display: block
}

.white {
	color: #fff
}

.blue {
	color: #287996
}

.light-gray {
	color: #eee
}

.mid-gray {
	color: #777
}

.dark-gray {
	color: #333
}

.red {
	color: #f52
}

.green {
	color: #0f6
}

.orange {
	color: #fc2
}

.bg-white {
	background-color: #fff
}

.bg-blue {
	background-color: #287996
}

.bg-light-gray {
	background-color: #eee
}

.bg-mid-gray {
	background-color: #777
}

.bg-dark-gray {
	background-color: #333
}

.bg-red {
	background-color: #f52
}

.bg-green {
	background-color: #0f6
}

.bg-orange {
	background-color: #fc2
}

body {
	color: var(--main-text);
	background-color: var(--background-color);
	font-family:  apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial Nova, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	font-size: 1.5rem;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
}

p>a {
	text-decoration: underline
}

a {
	color: var(--link-color);
}

a:hover {
	color: var(--link-hover);
}

.button:focus {
	outline: 0;
	box-shadow: 0 0 0 2px var(--background-color), 0 0 1px 4px rgba(0, 150, 204, .5)
}

.button-blue {
	color: var(--background-color);
	background-color: #287996
}

.button-blue:hover {
	color: var(--background-color);
	background-color: #004b66
}

.button-gray {
	color: var(--background-color);
	background-color: #777
}

.button-gray:hover {
	color: var(--background-color);
	background-color: #444
}

.form-light .input,
.form-light .select,
.form-light .textarea {
	transition: box-shadow .2s ease;
	border-color: #777
}

.form-light .input:focus,
.form-light .select:focus,
.form-light .textarea:focus {
	outline: 0;
	border-color: #287996;
	box-shadow: 0 0 .125rem rgba(0, 150, 204, .5)
}

.form-light .checkbox input,
.form-light .radio input {
	transition: box-shadow .2s ease
}

.form-light .checkbox input:focus,
.form-light .radio input:focus {
	outline: 0;
	box-shadow: 0 0 0 2px var(--background-color), 0 0 1px 4px rgba(0, 150, 204, .5)
}

.form-light .radio input {
	border-radius: 50%
}

.border-top {
	border-top-style: solid;
	border-top-width: 1px
}

.border-light-gray {
	border-color: #eee
}

.rounded {
	border-radius: .25rem
}

.transition-all {
	transition: all .2s ease
}

body,
html {
	height: 100%
}

img {
	width: auto;
	height: auto
}

.site-wrap {
	border-radius: 1.2rem;
	border: thin var(--border-accent);
	min-height: 100%;
	
	
    padding-bottom: 4rem;
	margin-bottom: 120px;
	background-color: var(--wrapper-color)
}


.gist,
.gist .highlight .p {
	font-size: .75rem;
    font-family: Cascadia Code,Menlo,Monaco,courier new,monospace;
    overflow: auto;
    max-width: 100%;
    background-color: #282a36;
    overflow-y: hidden;
}

.gist .lines {
	width: 100%
}




.site-header a {
	color: var(--main-text);
	font-weight: 300
}

.site-header nav a {
	font-size: 1rem;
	color: #666
}

.site-header nav a:hover {
	color: #444;
	opacity: 1;
	border-bottom: 2px solid #444
}

.posts .post,
.related-post-title, .archive {
	border-bottom: thin solid var(--border-accent);
}

.site-nav a+a {
	margin-left: 1em
}

.site-nav {
	margin: 0;
	padding: 0
}

.posts .post a:hover .post-meta,
.posts .post a:hover .post-summary,
.posts .post a:hover .post-title,
.site-header a:hover {
	opacity: .88
}


.posts .post, .archive{
	margin-bottom: .75em;
	padding-bottom: .375em
}

.posts .post:last-child, .archive:last-child {
	border-bottom: 0;
	margin-bottom: .375em;
	padding-bottom: 0
}

.post-link .post-title {
	margin-top: 0;
	font-weight: 600;
	color: var(--main-text)
}

.meta,
.pagination .button,
.post-meta,
form,
p {
	font-weight: 300
}

.post-footer {
	@extend .italic;
	margin-top: .75rem;
	text-align: center
}

.post-footer .avatar {
	margin: 2rem 0;
	width: 100px;
	border-radius: 50%
}

.button,
.pagination {
	font-size: 1rem;
	font-family: "Lucida Sans Unicode", "Lucida Grande", 'Helvetica Neue', Helvetica, Lato, sans-serif;
	font-weight: 300;
	text-align: center;
	padding: 1.125em;
}

.pagination disabled,
.pagination a {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	background: #fafafa;
	border-radius: .1875em;
	border: 1px solid #f3f3f3;
	color: var(--main-text);
	padding: 1em 1.5em
}

.pagination .disabled {
	border-radius: .1875em;
	padding: 1em 1.5em;
	opacity: .8
}

.pagination a:focus,
.pagination a:hover {
	background: var(--background-color);
	color: #477dca
}

.pagination a:active {
	background: #f7f7f7
}
 /*
.wrap .measure {
	margin: 0 auto
}
*/
.meta,
.post-meta {
	width: auto;
	font-size: 1rem;
	
	padding: .25em 0;
	color: var(--sec-text)
}

.pagination .button {
	font-size: 1rem;
	letter-spacing: 1px
}

.button-disabled {
	opacity: .55;
	background-color: #999
}

.button-disabled:active,
.button-disabled:focus,
.button-disabled:hover {
	cursor: not-allowed;
	background-color: #999
}

form {
	font-family: sans-serif;
	font-size: 1rem
}

textarea.input {
	height: 8em
}

p {
	line-height: 1.5;
}

abbr {
	border-bottom: 1px #000 dotted;
	cursor: help
}

code,
pre {
	font-family: Cascadia Code, Menlo, Monaco, "Courier New", monospace;
	overflow: auto;
	/*max-width:  1000px;*/
	background-color:#282a36;
	overflow-y: hidden;
}


.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
footer,
footer .wrap,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Arial Nova", "Arial", "Lucida Sans","Unicode", "Lucida Grande", 'Helvetica Neue', Helvetica, Lato, sans-serif
}

code {
	color: #f8f8f2;
	word-wrap: break-word;

	margin: 20px;
	
}

p code{
	margin: 0;
	color:#4c566a;
	background: #eceff4;
	margin-top: 5px;
	margin-bottom: 5px;
}

pre>code{
	
	display: block;

}

pre {
	padding: 1.125em;
	font-size: 1rem;
	line-height: 1.11;

}

.highlight .p {
	font-size: 1.125rem;
	line-height: 1
}

blockquote {
	margin-right: 0px;
	padding-right: 0px;
  	padding: 1.33em;
	border-left: 5px solid var(--quotebar)
}

blockquote footer {
	font-size: .85rem;
	font-style: normal;
	background-color: var(--background-color);
	color: #7a7a7a;
	border-color: transparent
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 900;
	line-height: 1.2;
	margin: .414em auto .5em;
}



.h2,
.h3,
.h4,
.h5,
.h6,
h2,
h3,
h4,
h5,
h6 {
	color: var(--sec-text);
}

.social-icons {
	padding: .5em 0 0;
	font-size: 1.25rem;
	width: 100%
}

.social-icons a.fa {
	padding: .2em;
	opacity: .8;
	cursor: pointer
}

.social-icons a.fa:hover {
	opacity: 1
}

.social-icons iframe[title=Flattr] {
	position: relative;
	top: .1em
}

@media screen and (min-width:48em) {
	.site-header .site-title {
		float: left
	}
	
	.h1,
	h1 {
		font-size: 3.25rem
	}
	.h2,
	h2 {
		font-size: 2.298rem
	}
	.h3,
	h3 {
		font-size: 1.625rem
	}
	.h4,
	h4 {
		font-size: 1.15rem
	}
	.p,
	li,
	p,
	table {
		font-size: 1.25rem;
		line-height: 1.8
	}
	.small {
		font-size: 1rem
	}
	.post-link .post-title {
		margin-top: .5em
	}
	.posts .post, .archive {
		margin-bottom: 1.333em;
		padding-bottom: .666em;
		border-bottom: thin solid var(--border-accent);
	}
	.posts .post:last-child, .archive:last-child {
		border-bottom: 0;
		margin-bottom: .333em;
		padding-bottom: 0
	}
}

@media screen and (max-width:48em) {
	.h1,
	h1 {
		font-size: 2.827rem
	}
	.h2,
	h2 {
		font-size: 1.999rem
	}
	.h3,
	h3 {
		font-size: 1.413rem
	}
	.h4,
	h4 {
		font-size: 1rem
	}
	.site-header {
		text-align: center
	}
	.site-header .site-title {
		text-align: center
	}
	.site-header .site-nav {
		width: 100%;
		float: left;
		text-align: center;
		margin-top: .666em;
		margin-bottom: 1.333em
	}
	.social-icons .left,
	.social-icons .right {
		text-align: center;
		float: none
	}

	blockquote{
		margin:0.5rem;
		padding: 0.8em;
	}

	pre {
		padding: 0.5rem
	}

	code{
		margin: 10px;
	}
}

@media screen and (min-width:64em) {
	.h1,
	h1 {
		font-size: 3.5rem
	}
	.h2,
	h2 {
		font-size: 3rem
	}
	.h3,
	h3 {
		font-size: 2.249rem
	}
	.h4,
	h4 {
		font-size: 1.591rem
	}
	.posts .post-meta .post-author {
		padding-bottom: .2em
	}
	.post-link .post-title {
		margin-top: .125em
	}
	.posts .post, .archive {
		margin-bottom: 2.666em;
		padding-bottom: 1.333em;
		border-bottom: thin solid var(--border-accent);
	}
	.posts .post:last-child, .archive:last-child{
		border-bottom: 0;
		margin-bottom: .666em;
		padding-bottom: 0
	}

	pre {
		padding: 0.8rem
	}

	code{
		margin: 15px;
	}

}

footer {
	border-top: thin solid var(--border-accent);
	margin-top:120px;
    left: 0;
    bottom: 0;
}

footer,
footer .wrap {
	color: #7a7a7a;
	background-color: #F2F4F8;
	font-weight: 300;
	clear: both
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--sec-text);
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--sec-text);
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: var(--sec-text);
}

/*! Icons.css Licensed under the MIT license - http://opensource.org/license/MIT */

.icons a {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 10px;
	vertical-align: middle;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s
}

.icons a.rss {
	background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDggOCIgPgogIDxwYXRoIGQ9Ik0wIDB2MmMzLjMzIDAgNiAyLjY3IDYgNmgyYzAtNC40MS0zLjU5LTgtOC04em0wIDN2MmMxLjY3IDAgMyAxLjMzIDMgM2gyYzAtMi43NS0yLjI1LTUtNS01em0wIDN2MmgyYzAtMS4xMS0uOS0yLTItMnoiIC8+Cjwvc3ZnPgo=') left top no-repeat
}

.icons a.twitter {
	background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iNzAgODAgMjQ1IDI0NSI+PHBhdGggZmlsbD0ibm9uZSIvPjxwYXRoIGZpbGw9IiMwMDAwMDAiIGQ9Ik0xNTQgMzAyYzk0IDAgMTQ2LTc5IDE0Ni0xNDZsLTEtN2ExMDQgMTA0IDAgMCAwIDI2LTI3IDEwMiAxMDIgMCAwIDEtMjkgOSA1MSA1MSAwIDAgMCAyMi0yOSAxMDMgMTAzIDAgMCAxLTMyIDEzIDUxIDUxIDAgMCAwLTg4IDQ2IDE0NiAxNDYgMCAwIDEtMTA2LTUzIDUxIDUxIDAgMCAwIDE2IDY4IDUxIDUxIDAgMCAxLTIzLTZ2MWE1MSA1MSAwIDAgMCA0MSA1MCA1MSA1MSAwIDAgMS0yMyAxIDUxIDUxIDAgMCAwIDQ4IDM1IDEwMyAxMDMgMCAwIDEtNjQgMjIgMTA0IDEwNCAwIDAgMS0xMiAwIDE0NSAxNDUgMCAwIDAgNzkgMjMiLz48L3N2Zz4=') left top no-repeat
}

.icons a.mastodon {
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiID48cGF0aCBkPSJNNDY1LjkgMTc4LjdjMC05Ny42LTY0LTEyNi4yLTY0LTEyNi4yLTYyLjgtMjguOC0yMjkuNS0yOC41LTI5MS43IDAgMCAwLTY0IDI4LjYtNjQgMTI2LjIgMCAxMTYuMi02LjYgMjYwLjUgMTA2LjEgMjkwLjMgNDAuNyAxMC43IDc1LjYgMTMuMSAxMDMuOCAxMS40IDUxLTIuOCA3OS43LTE4LjIgNzkuNy0xOC4ybC0xLjctMzcuMXMtMzYuNSAxMS40LTc3LjUgMTAuMWMtNDAuNi0xLjQtODMuNC00LjQtOTAtNTQuMi0uNi00LjYtLjktOS4zLS45LTE0IDg2IDIxIDE1OS4zIDkuMSAxNzkuNSA2LjcgNTYuNC02LjcgMTA1LjUtNDEuNSAxMTEuNy03My4yIDkuOC00OS43IDktMTIxLjggOS0xMjEuOHptLTc1LjUgMTI1LjhoLTQ2LjhWMTg5LjhjMC00OS45LTY0LjMtNTEuOC02NC4zIDYuOXY2Mi44aC00Ni41di02Mi44YzAtNTguOC02NC4zLTU2LjgtNjQuMy02Ljl2MTE0LjdoLTQ2LjljMC0xMjIuNi01LjItMTQ4LjUgMTguNS0xNzUuOCAyNi0yOSA4MC4yLTMwLjkgMTA0LjMgNi4xbDExLjYgMTkuNiAxMS42LTE5LjZjMjQuMi0zNy4zIDc4LjUtMzQuOSAxMDQuMy02LjEgMjMuOSAyNy40IDE4LjUgNTMuMiAxOC41IDE3NS44eiIvPjwvc3ZnPg==")	left top no-repeat
	
}


@media(prefers-color-scheme:dark) {
	

	
	.button:focus {
		box-shadow: 0 0 0 2px #3b4252, 0 0 1px 4px rgba(0, 150, 204, .5)
	}
	.button-blue {
		color: #3b4252;
		background-color: #88c0d0
	}
	.button-blue:hover {
		color: #3b4252;
		background-color: #004b66
	}
	.button-gray {
		color: #3b4252;
		background-color: #4c566a
	}
	.button-gray:hover {
		color: #3b4252;
		background-color: #434c5e
	}
	.form-light .input,
	.form-light .select,
	.form-light .textarea {
		transition: box-shadow .2s ease;
		border-color: #4c566a
	}
	.form-light .input:focus,
	.form-light .select:focus,
	.form-light .textarea:focus {
		outline: 0;
		border-color: #88c0d0;
		box-shadow: 0 0 .125rem rgba(0, 150, 204, .5)
	}
	.border-light-gray {
		border-color: #eee
	}

	.site-header nav a {
		color: #e5e9f0
	}
	.site-header nav a:hover {
		color: #434c5e;
		border-bottom: 2px solid #434c5e
	}

	
	.pagination .disabled,
	.pagination a {
		background: #4c566a;
		border: 1px solid var(--main-text);
		color: var(--main-text)
	}
	.pagination a:focus,
	.pagination a:hover {
		background: #3b4252;
		color: #477dca
	}
	.pagination a:active {
		background: #f7f7f7
	}
	
	.button-disabled {
		background-color: #999
	}
	.button-disabled:active,
	.button-disabled:focus,
	.button-disabled:hover {
		cursor: not-allowed;
		background-color: #999
	}
	
	abbr {
		border-bottom: 1px #000 dotted
	}
	
	
	
	footer {
		border-top: thin solid var(--main-text)
	}
	footer,
	footer .wrap {
		color: var(--sec-text);
		background-color: #4c566a
	}
	.icons a {
		filter: invert(80%)
	}
	
       
}


/*! Animate.css - http://daneden.me/animate Licensed under the MIT license - http://opensource.org/licenses/MIT Copyright (c) 2014 Daniel Eden */
	body {
	  scroll-behavior: smooth;
	  transition:
    		color 0.5s ease,
    		background-color 0.5s ease;
  	}
	
html {
  scroll-behavior: smooth;
}
	



/*! Pagination */
.paginatin_area {
	margin: 0;
	padding: 4px 0 2rem;
	text-align: center
}

.paginatin_area ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	text-align: center
}

.paginatin_area ul li {
	display: block;
	float: left;
	margin: 0;
	padding: 0
}

.paginatin_area ul li a {
	background: #262626;
	border-radius: 4px;
	color: var(--background-color);
	display: block;
	font-family: lato;
	font-size: 14px;
	font-weight: 900;
	line-height: 17px;
	margin: 2px;
	min-height: 30px;
	min-width: 30px;
	padding: 6px;
	text-decoration: none;
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s
}

.paginatin_area ul li.active a,
.paginatin_area ul li.active a:hover {
	background: #b3b3b1
}

.paginatin_area ul li a:hover {
	background: #37c392
}

.p_arrow i {
	display: block;
	font-family: lato;
	font-size: 1rem;
	font-style: normal;
	font-weight: 900;
	line-height: 12px;
	margin: 0;
	padding: 0;
	text-align: center
}


.resp-sharing-button__link,
.resp-sharing-button__icon {
	display: inline-block
}

.resp-sharing-button__link {
	text-decoration: none;
	color: var(--background-color);
	margin: .5em
}

.resp-sharing-button {
	border-radius: 5px;
	transition: 25ms ease-out;
	padding: .5em .75em;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}

.resp-sharing-button__icon svg {
	width: 1em;
	height: 1em;
	margin-right: .4em;
	vertical-align: top
}

.resp-sharing-button--small svg {
	margin: 0;
	vertical-align: middle
}

.resp-sharing-button__icon {
	stroke: var(--background-color);
	fill: none
}

.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
	fill: var(--background-color);
	stroke: none
}

.resp-sharing-button--twitter {
	background-color: #55acee
}

.resp-sharing-button--twitter:hover {
	background-color: #2795e9
}

.resp-sharing-button--pinterest {
	background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
	background-color: #8c0615
}

.resp-sharing-button--facebook {
	background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
	background-color: #2d4373
}

.resp-sharing-button--tumblr {
	background-color: #35465c
}

.resp-sharing-button--tumblr:hover {
	background-color: #222d3c
}

.resp-sharing-button--reddit {
	background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
	background-color: #3a80c1
}

.resp-sharing-button--google {
	background-color: #dd4b39
}

.resp-sharing-button--google:hover {
	background-color: #c23321
}

.resp-sharing-button--linkedin {
	background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
	background-color: #046293
}

.resp-sharing-button--email {
	background-color: #777
}

.resp-sharing-button--email:hover {
	background-color: #5e5e5e
}

.resp-sharing-button--xing {
	background-color: #1a7576
}

.resp-sharing-button--xing:hover {
	background-color: #114c4c
}

.resp-sharing-button--whatsapp {
	background-color: #25d366
}

.resp-sharing-button--whatsapp:hover {
	background-color: #1da851
}

.resp-sharing-button--hackernews {
	background-color: #f60
}

.resp-sharing-button--hackernews:hover,
.resp-sharing-button--hackernews:focus {
	background-color: #fb6200
}

.resp-sharing-button--vk {
	background-color: #507299
}

.resp-sharing-button--vk:hover {
	background-color: #43648c
}

.resp-sharing-button--facebook {
	background-color: #3b5998;
	border-color: #3b5998
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
	background-color: #2d4373;
	border-color: #2d4373
}

.resp-sharing-button--twitter {
	background-color: #55acee;
	border-color: #55acee
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
	background-color: #2795e9;
	border-color: #2795e9
}

.resp-sharing-button--tumblr {
	background-color: #35465c;
	border-color: #35465c
}

.resp-sharing-button--tumblr:hover,
.resp-sharing-button--tumblr:active {
	background-color: #222d3c;
	border-color: #222d3c
}

.resp-sharing-button--email {
	background-color: #777;
	border-color: #777
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
	background-color: #5e5e5e;
	border-color: #5e5e5e
}

.resp-sharing-button--pinterest {
	background-color: #bd081c;
	border-color: #bd081c
}

.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
	background-color: #8c0615;
	border-color: #8c0615
}

.resp-sharing-button--linkedin {
	background-color: #0077b5;
	border-color: #0077b5
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
	background-color: #046293;
	border-color: #046293
}

.resp-sharing-button--reddit {
	background-color: #5f99cf;
	border-color: #5f99cf
}

.resp-sharing-button--reddit:hover,
.resp-sharing-button--reddit:active {
	background-color: #3a80c1;
	border-color: #3a80c1
}

.resp-sharing-button--xing {
	background-color: #1a7576;
	border-color: #1a7576
}

.resp-sharing-button--xing:hover .resp-sharing-button--xing:active {
	background-color: #114c4c;
	border-color: #114c4c
}

.resp-sharing-button--whatsapp {
	background-color: #25d366;
	border-color: #25d366
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
	background-color: #1da851;
	border-color: #1da851
}

.resp-sharing-button--hackernews {
	background-color: #f60;
	border-color: #f60
}

.resp-sharing-button--hackernews:hover .resp-sharing-button--hackernews:active {
	background-color: #fb6200;
	border-color: #fb6200
}

.resp-sharing-button--vk {
	background-color: #507299;
	border-color: #507299
}

.resp-sharing-button--vk:hover .resp-sharing-button--vk:active {
	background-color: #43648c;
	border-color: #43648c
}

.resp-sharing-button--telegram {
	background-color: #54a9eb
}

.resp-sharing-button--telegram:hover {
	background-color: #4b97d1
}

.__h_instagram.card{
	margin: 100px 0px 30px 0px
}

.__h_instagram .s_instagram_simple .card{
	max-width: none
}

.highlighttable td,th{padding:0;border:0;}td.code{width:95%;}

.post-comments {
  margin-top: 60px;
  margin-bottom: 30px;
   padding-right: 1.125em;
}

.post-comment {
  color: var( --main-text);
  background-color: var( --button-background);
  padding: 20px;
  margin-top: 20px;
  overflow: auto;
}

.post-comment-header {
  margin-bottom: 20px;
}

.post-comment-avatar {
  display: inline-block;
  vertical-align: middle;
  border-radius: 0%;
}

.post-comment-info {
  color: var(--sec-text);
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
}

.post-comment-field {
  display: block;
  font: inherit;
  padding: 10px;
  margin-top: 20px;
  border: 0.2rem solid var( --form-accent);
  width: 100%;
  background: var(--form-background);
  color: var(--sec-text);
  border-radius: .6rem;
  
}

.btn {
  border: 2px solid var( --button-accent);
  background-color: var( --button-background);
  color: var( --main-text);
  display: inline-block;
  font: inherit;
  padding: 20px;
  min-width:30px;
}

.btn:hover {
  border: 2px solid var( --button-accent);
  background-color: var( --button-background);
  color: var( --link-hover);
  text-decoration: none;
}

.dialog {
  display: none;
  background-color: var( --button-bacnkground);
  padding: 25px;
  padding-top: 20%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 1rem;
line-height: 1.5rem;
border-radius: .25rem
}

.dialog:target {
  display: block;
}

.staticman {
 padding-bottom: 2rem
}

.anchor:hover{opacity: 100%;}
.anchor{
	opacity: 50%;
	font-weight: bolder;
	text-decoration: none;
}

.toc_summary {
    background: var(--button-background) none repeat scroll 0 0;
    border: 1px solid var(--button-accent);
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
	
}

.toc_title {
    font-weight: 700;
    text-align: left;
    user-select: none;
}

.toc_list{
    list-style: outside none none;
}

/* TABLE */

article table {
	display: block;
	max-width: -moz-fit-content;
	max-width: fit-content;
	margin: 0 auto;
	overflow-x: auto;
	white-space: nowrap;
	
	text-align: left;
	width: 100%;
	background-color: var(--button-accent);
	border-collapse: collapse;
}

div.highlight table{
	display: inherit;
	max-width:inherit;
	max-width:inherit;
	margin: 0 auto;
	overflow-x: inherit;
	white-space: inherit;
}

article td,
article th {
	border-top: .1rem solid var(--border-accent);
	border-bottom: .1rem solid var(--border-accent);
	padding: 1.2rem 1.5rem;
	border-left: 1px solid var(--border-accent);
	border-right: 1px solid var(--border-accent);
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
	padding: 0.5em 1em; 
	
	
}

article td:first-child,
article th:first-child {
	padding-left: 0;
}

article td:last-child,
article th:last-child {
	padding-right: 0;
}


article thead {
    background-color: var(--button-disabled-background);
    color: var(--main-text);
    text-align: left;
	vertical-align: bottom;
	border-bottom: 1px;
	position: sticky;
	inset-block-start: 0; 
}

.twitter-tweet {
	color: #4c566a;
	border-left-color: #1DA1F2;
	background-color: #9fd7f9;
}

.twitter-tweet a {
	color: #20415b;
	
}

/* width */
code::-webkit-scrollbar {
  
  height: 10px;
}

/* Track */
code::-webkit-scrollbar-track {
  background: #4c566a; 
  border-radius: 5px;
}
 
/* Handle */
code::-webkit-scrollbar-thumb {
  background:  #ECEFF4; 
  border-radius: 5px;
}

/* Handle on hover */
code::-webkit-scrollbar-thumb:hover {
  background:  #5E81AC; 
}


/* width */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: var(--button-background); 
	
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: var(--sec-text); 
	
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: var(--link-hover); 
  }

  .email:not(:placeholder-shown) {
	border-color:  #BF616A;
  }

  .email:valid {
	border-color: #A3BE8C;
  }

  mjx-container[jax="CHTML"] , .katex-display{
    
    overflow-x: auto;
    overflow-y: hidden;
}

@font-face {
	font-family: "color-emoji";
	src: local("Apple Color Emoji"), local("Segoe UI Emoji"), local("Segoe UI Symbol"), local("Noto Color Emoji");
  } 


.blocktitle{
	page-break-after: always;
	font-weight: bold;
	font-size: 2rem;
	padding-left: 1rem;
	display: block;
	line-height: 2.5rem;
}

.notification-boxes{
	color: #2e3440;
	margin: 2rem 0rem;
	padding: 1.33em;
	border-left-width: 5px;
	border-left-style: solid;
	font-style: normal;
}



article a{
	text-decoration: underline;
}

aside a, .quote-color a{
	color: #3e5471;
}

.quote-color{
	font-style: normal;
	color: #2e3440;
}

.post-img{
	max-width: 100%;
	transition: transform .3s ease-in-out;
	
}
article img{
	
	opacity: 0.8;
}
article .img-wrapper{
 background-color: var(--img-wrapper)
}

article .title-img{
	padding: 15px 30px 10px 5px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", 'Helvetica Neue', Helvetica, Lato, sans-serif;
}

.fullscreen-container{
	position: absolute;
	top: 8px;
	right: 16px;
	padding: .2em;
	
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' xmlns:v='https://vecta.io/nano'%3E%3Cpath d='M0 0v512h512V0z' fill='%23fff'/%3E%3Cpath d='M0 0v512h512V0H0zm477.867 477.867H34.133V34.133h443.733v443.734zM126.533 102.4h72.578V68.267H68.267v130.844H102.4v-72.573l96.022 96.02 24.134-24.135zm96.024 211.181l-24.135-24.136-96.022 96.022v-72.578H68.267v130.844h130.844V409.6h-72.573zm187.043-.692v72.578l-96.022-96.023-24.134 24.134 96.018 96.022h-72.573v34.133h130.844V312.889zM312.889 68.267V102.4h72.578l-96.023 96.023 24.134 24.135 96.022-96.02v72.573h34.133V68.267z'/%3E%3C/svg%3E");
	width: 24px;
    height: 24px;
}
	

article img:hover {
		opacity: 1
 }


figure{
	margin:0;
	max-width: 100%;
	border-radius: .3em;
}

figcaption{
	max-width: 100%;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-style: italic;
	margin: auto;
	background-color: var(--link-hover);
	display: block;
	float: left;
	position: absolute;
	bottom: 0;
	opacity: 0.6;
	transition: transform .3s ease-in-out;
}
figure:hover figcaption{
	opacity: 1
}

.container {
	position: relative;
	text-align: center;
	color: var(--main-text);
  }



.html-video{
	max-width: 100%;
}


