@media (prefers-color-scheme: dark) {
    amp-social-share.custom-style {background-color: #4c566a;}
    .anchor { filter: invert(1);}
}

@media (prefers-color-scheme: light) {
 amp-social-share.custom-style { background-color: #D8DEE9;}
}
   
amp-social-share.custom-style { 
     background-position: center;
     background-size: contain;}
