:root {
  --main-text: #2E3440;
  --background-color: #fff;
  --link-color: #3e5471;
  --link-hover: #55acee;
  --sec-text: #4C566A;
  --button-text: #2E3440;
  --button-background: #D8DEE9;
  --button-accent: #f3f3f3;
  --button-disabled-background: #ECEFF4;
  --button-disabled-background-hover: #444;
  --form-background: #eceff4;
  --form-accent: #D8DEE9;
  --quotebar:#4C566A;
  --red:#a7444e  ;
  --green: #739654;
  --orange: #b15539;
  --yellow: #dea93f;
  --purple: #8d5e84;
  --blue: #50729b;
  --img-wrapper: #D8DEE9;
  /*
  --alpha: 0.25;
  --c-red: 191, 97, 106;
  --c-green: 163, 190, 140;
  --c-orange: 208, 135, 112;
  --c-yellow: 235, 203, 139;
  --c-purple: 180, 142, 173;
  */
  --alpha: 0.25;
  --c-red: hsl(354, 42%, 80%);
  --c-green: hsl(92, 28%, 80%);
  --c-orange: hsl(14, 51%, 80%);
  --c-yellow: hsl(40, 71%, 80%);
  --c-purple: hsl(311, 20%, 80%);
  --c-blue: hsl(213, 32%, 80%);
  --t-red: hsl(354, 42%, 24%);
  --t-green: hsl(92, 28%, 21%);
  --t-orange: hsl(14, 51%, 23%);
  --t-yellow: hsl(40, 71%, 20%);
  --t-purple: hsl(311, 20%, 23%);
  --t-blue: hsl(213, 32%, 23%)
  ;


  
}





  body {
	color: var(--main-text);
	background-color: var(--background-color);
	font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Ubuntu, "PT Serif", Georgia, "Times New Roman", Ubuntu, serif;
	font-size: 1.5rem;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
}

a {
  color: var(--link-color);
}

@media(prefers-color-scheme:dark) {
	
	:root {
	  --main-text: #ECEFF4;
	  --background-color: #3b4252;
	  --link-color: #a0e2f5; /*! OLD: #81A1C1 */
	  --link-hover: #5E81AC;
	  --sec-text: #D8DEE9;
	  --button-text: #3b4252;
	  --button-background: #4c566a;
	  --button-accent: #434C5E;
	  --button-disabled-background: #4c566a;
	  --button-disabled-background-hover: #434c5e;
	  --form-background: #4c566a;
    --form-accent: #434C5E;
    --quotebar: #D8DEE9;
    --img-wrapper: #434C5E;
	}
	
	
}