<amp-social-share type="system" data-mode="replace" class="custom-style" width="100"  height="60"></amp-social-share>
<amp-social-share type="email" class="custom-style"></amp-social-share>
<amp-social-share type="twitter"></amp-social-share>
<amp-social-share type="facebook"></amp-social-share>
<amp-social-share type="line"></amp-social-share>
<amp-social-share type="linkedin"></amp-social-share>
<amp-social-share type="tumblr"></amp-social-share>
<amp-social-share type="whatsapp"></amp-social-share>

