<div class="pagination clearfix mb1 mt4" id="Share">
  <div class="left">
  <!-- Share via WebApi se supportato -->
  
  <button class="pagination-item disabled" id="sharebutton" type="button" title="Share this article" hidden>
	<span>Share this page</span>
  </button>
    
	
  <!-- In caso di JS disabilitato usa share via sharingbuttons.io -->
  <noscript>
	    {{ partial "sharingbuttons.html" . }}
 

  </noscript>
</div>  
</div>  
<!-- Staticman + HEroku comment powered-->
{{ if isset $.Site.Params "staticman_api" }}
 <div class="staticman" role="complementary" id="Comments"> 
<div class="post-comments">
  <h3>Comments</h3>
  {{ if (fileExists "data/comments/placeholder/comment.json") -}}
  {{ $comments := readDir "data/comments" }}
  {{ $.Scratch.Add "hasComments" 0 }}

  {{ $entryId := print  .Title "-" .File.UniqueID }}

  {{ range $comments }}
	
    {{ if eq .Name $entryId }}
	
      {{ $.Scratch.Add "hasComments" 1 }}
      {{ range $index, $comments := (index $.Site.Data.comments $entryId ) }}
        <div class="post-comment">
          <div class="post-comment-header">
            <img class="post-comment-avatar" src="https://seccdn.libravatar.org/avatar/{{ .email }}?s=100">
            <p class="post-comment-info post-meta"><strong>{{ .name }}</strong><br>{{ dateFormat "02/01/2006" .date }}</p>
          </div>
          {{ .body | markdownify }}
        </div>
      {{ end }}       
    {{ end }}
  {{ end }}

  {{ if eq ($.Scratch.Get "hasComments") 0 }}
    <p>Nothing yet.</p>
  {{ end }}
  

  <h3>Say something</h3>

  <form class="post-new-comment" method="POST" action={{$.Site.Params.staticman_api}} aria-label="Add a comment">
  <!--form class="post-new-comment" method="POST" action="http://localhost:8055/v2/entry/eduardoboucas/staticman-test/master/comments"-->
    <input type="hidden" name="options[redirect]" value= "{{ .Site.BaseURL }}{{ .RelPermalink }}#comment-submitted">
    <input type="hidden" name="options[entryTitle]" value="{{ .Title }}" >	  
    <input type="hidden" name="options[entryId]" value="{{ .File.UniqueID }}">
    <input name="fields[name]" type="text" class="post-comment-field" placeholder="Your name" aria-label="Input area for your name" required="required">
    <input name="fields[email]" type="email" class="post-comment-field email" placeholder="Your email address" aria-label="Input area for your email address" required="required"> 
    <textarea name="fields[body]" class="post-comment-field" placeholder="Your message. Feel free to use Markdown." rows="10" aria-label="Input area for your comment" required="required"></textarea>
    <input type="submit" class="post-comment-field btn pagination-item" value="Submit" aria-label="Button to submit your comment">
  </form>
</div>

<div id="comment-submitted" class="dialog">
	<h3>Thank you</h3>
	  <p>Your comment has been submitted and will be displayed soon.</p>
  	  <span><a href="#" class="btn pagination-item" >OK</a></span>

</div>
</div>
{{ end }}
{{ end }}
