<div class="pagination clearfix mb1 mt4" id="Share">
  <div class="left">
  <!-- Share via WebApi se supportato -->
  
  <button class="share" id="sharebutton" type="button" title="Share this article" hidden>
	<span>Share this page</span>
  </button>
    
	
  <!-- In caso di JS disabilitato usa share via sharingbuttons.io -->
  <noscript>
	    {{ partial "sharingbuttons.html" . }}
 

  </noscript>
</div>  
</div>  
<!-- Staticman + HEroku comment powered-->
{{ if isset $.Site.Params "staticman_api" }}
 <div class="staticman" role="complementary" id="Comments"> 
<div class="post-comments">
  <h3>Comments</h3>
  {{ if (fileExists "data/comments/placeholder/comment.json") -}}
  {{ $comments := readDir "data/comments" }}
  {{ $.Scratch.Add "hasComments" 0 }}

  {{ $entryId := print  .File.LogicalName "-" .File.UniqueID }}

  {{ range $comments }}
	
    {{ if eq .Name $entryId }}
	
      {{ $.Scratch.Add "hasComments" 1 }}
      {{ range $index, $comments := (index $.Site.Data.comments $entryId ) }}
        <div class="post-comment">
          <div class="post-comment-header">
            <img  class="post-comment-avatar"  
            
         
            {{ if eq $.Site.Params.avatar "libravatar" }} 
            src="https://seccdn.libravatar.org/avatar/{{ .email }}?s=100"
            {{else}}
              {{ if eq $.Site.Params.avatar "gravatar"  }} 
              src="https://www.gravatar.com/avatar/{{ .email }}?s=100"
              {{else}}
                {{ if eq $.Site.Params.admin_hash .email  }} 
                src="/admin.png"
                {{else}}
                src="/avatar.png"
                {{end}}
              {{ end }}
            {{ end }}
            
            >
            <p class="post-comment-info post-meta"><strong>{{ .name }}</strong><br>{{ dateFormat "02/01/2006" .date }}</p>
          </div>
          {{ .body | markdownify | safeHTML }}
        </div>
      {{ end }}       
    {{ end }}
  {{ end }}

  {{ if eq ($.Scratch.Get "hasComments") 0 }}
    <p>Nothing yet.</p>
  {{ end }}
  

  <h3>Say something</h3>

  <form class="post-new-comment" method="POST" action={{$.Site.Params.staticman_api}} aria-label="Add a comment">
  <!--form class="post-new-comment" method="POST" action="http://localhost:8055/v2/entry/eduardoboucas/staticman-test/master/comments"-->
    <input type="hidden" name="options[redirect]" value= "{{ .Site.BaseURL }}{{ .RelPermalink }}#comment-submitted">
    <input type="hidden" name="options[entryTitle]" value="{{ .File.LogicalName}}" >	  
    <input type="hidden" name="options[entryId]" value="{{ .File.UniqueID }}">
    <input name="fields[name]" type="text" class="post-comment-field" placeholder="Your name" aria-label="Input area for your name" required="required">
    <input name="fields[email]" type="email" class="post-comment-field email" placeholder="Your email address" aria-label="Input area for your email address" required="required"> 
    <textarea name="fields[body]" class="post-comment-field" placeholder="Your message. Feel free to use Markdown." rows="10" aria-label="Input area for your comment" required="required"></textarea>
    <input type="submit" class="post-comment-field btn pagination-item" value="Submit" aria-label="Button to submit your comment">
  </form>
</div>

<div id="comment-submitted" class="dialog">
	<h3>Thank you</h3>
	  <p>Your comment has been submitted and will be displayed soon.</p>
  	  <span><a href="#" class="btn pagination-item" >OK</a></span>

</div>
</div>
{{ end }}
{{ end }}
<!-- Mastodon  powered-->

{{ with .Params.comments }}
<div class="article-content">
  <h2>Comments</h2>
  <p>You can use your Mastodon account to reply to this <a class="link" href="https://{{ .host }}/@{{ .username }}/{{ .id }}">post</a>.</p>
  <p><a class="button" href="https://{{ .host }}/interact/{{ .id }}?type=reply">Reply</a></p>
  <p id="mastodon-comments-list"><button id="load-comment">Load comments</button></p>
  <noscript><p>You need JavaScript to view the comments.</p></noscript>
  <script src="/dompurify/purify.min.js"></script>
  <script type="text/javascript">
    function escapeHtml(unsafe) {
      return unsafe
           .replace(/&/g, "&amp;")
           .replace(/</g, "&lt;")
           .replace(/>/g, "&gt;")
           .replace(/"/g, "&quot;")
           .replace(/'/g, "&#039;");
   }

    document.getElementById("load-comment").addEventListener("click", function() {
      document.getElementById("load-comment").innerHTML = "Loading";
      fetch('https://{{ .host }}/api/v1/statuses/{{ .id }}/context')
        .then(function(response) {
          return response.json();
        })
        .then(function(data) {
          if(data['descendants'] &&
             Array.isArray(data['descendants']) && 
            data['descendants'].length > 0) {
              document.getElementById('mastodon-comments-list').innerHTML = "";
              data['descendants'].forEach(function(reply) {
                reply.account.display_name = escapeHtml(reply.account.display_name);
                reply.account.emojis.forEach(emoji => {
                  reply.account.display_name = reply.account.display_name.replace(`:${emoji.shortcode}:`,
                    `<img src="${escapeHtml(emoji.static_url)}" alt="Emoji ${emoji.shortcode}" height="20" width="20" />`);
                });
                mastodonComment =
                  `<div class="mastodon-comment">
                     <div class="avatar">
                       <img src="${escapeHtml(reply.account.avatar_static)}" height=60 width=60 alt="">
                     </div>
                     <div class="content">
                       <div class="author">
                         <a href="${reply.account.url}" rel="nofollow">
                           <span>${reply.account.display_name}</span>
                           <span class="disabled">${escapeHtml(reply.account.acct)}</span>
                         </a>
                         <a class="date" href="${reply.uri}" rel="nofollow">
                           ${reply.created_at.substr(0, 10)}
                         </a>
                       </div>
                       <div class="mastodon-comment-content">${reply.content}</div> 
                     </div>
                   </div>`;
                document.getElementById('mastodon-comments-list').appendChild(DOMPurify.sanitize(mastodonComment, {'RETURN_DOM_FRAGMENT': true}));
              });
          } else {
            document.getElementById('mastodon-comments-list').innerHTML = "<p>Not comments found</p>";
          }
        });
      });
  </script>
</div>
{{ end }}
