<!DOCTYPE html>
<html lang="it" itemscope itemtype="http://schema.org/BlogPosting">
<head>
  
  <!-- AMP ref -->
  <meta name="referrer" content="none">
  <!-- favicon and co. -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color={{.Site.Params.bg_color}}>
  <meta name="apple-mobile-web-app-title" content={{ .Site.Title }}>
  <meta name="application-name" content={{ .Site.Title }}>
  <meta name="msapplication-TileColor" content={{.Site.Params.bg_color}}>
  <meta name="theme-color" content={{.Site.Params.bg_color}}>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <!-- About page -->
  <title>{{ .Title }} - {{ if .IsHome }} {{.Site.Params.description}} {{ else }} {{.Site.Title}} {{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Summary}}{{end}}">
  <meta name="author" content="{{ .Site.Params.author }}">
  <meta name="keywords" content="{{ range $i, $e := .Params.tags }}{{if $i}},{{end}}{{ . }}{{ end }}">
  <link rel="canonical" href="{{ .Permalink }}">

  <!-- OPEN graph and Twitter Card -->
  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@{{ .Site.Params.twitter_username }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:title" content="{{ .Title }} - {{ if .IsHome }} {{.Site.Params.description}} {{ else }} {{.Site.Title}} {{ end }}" />
  <meta property="og:description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Summary}}{{end}}" />
  <meta property="og:image" content="{{if isset .Params "banner"}}{{ .Site.BaseURL }}amp{{ .Page.RelPermalink }}/{{ .Params.banner }}{{ else}}{{ .Site.BaseURL }}{{ $.Site.Params.banner }}{{ end}}"/>

  <!-- Custom CSS -->
  <!-- Those css minifined and combined together. See combined-min.css below{{if isset .Params "banner"}}{{ .Params.banner }}{{ else}}{{ .Site.BaseURL }}{{ $.Site.Params.banner }}{{ end}}
  <link rel="stylesheet" type="text/css" href="/css/basscss.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css"> -->

  <!-- Google site verification -->
  <meta name="google-site-verification" content="oVaXKQsxNsPoOo6UNrGbQrBTdxEOBP0qJBRMTScdg8U" />

  <!-- Flattr  -->
  <meta name="flattr:id" content="e0v7jk">

  
  <!-- Highlight -->
  <!-- Also minified and combined into combined-min.css
  <link rel="stylesheet" type="text/css" href="/css/highlight/styles/railscasts.css"> -->


  <!-- Fonts -->
  <!-- Combined and minified
  <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic&subset=latin,cyrillic-ext,cyrillic'>
  <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Lato:900,300'> 
  <link rel="preload" as="image"  href="/images/icons/twitter.png">
  <link rel="preload" as="image"  href="/images/icons/rss.png">
  -->



  <link rel="preload" as="style" type="text/css" href="/css/combined-min-smart.css">
  <link rel="stylesheet" type="text/css" href="/css/combined-min-smart.css">
  
</head>
<body class="">
