{{ if isset $.Site.Params "custom_navbar" }} 
{{ if eq .Site.Params.custom_navbar true }}

{{ $currentPage := . }}
{{ range .Site.Menus.main }}
<a  href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
{{ end }}

{{ else }}
<a href="{{ .Site.BaseURL }}{{ .Site.LanguagePrefix }}amp/about/" >{{ i18n "about" }}</a>
<a href="{{ .Site.BaseURL }}{{ .Site.LanguagePrefix }}amp/contact/" >{{ i18n "contact" }}</a>
<a href="{{ .Site.BaseURL }}{{ .Site.LanguagePrefix }}amp/privacy-policy/" rel="prefetch">{{ i18n "privacy" }}</a>

{{ end }}
{{ else }}
<a href="{{ .Site.BaseURL }}{{ .Site.LanguagePrefix }}amp/about/" >{{ i18n "about" }}</a>
<a href="{{ .Site.BaseURL }}{{ .Site.LanguagePrefix }}amp/contact/" >{{ i18n "contact" }}</a>
<a href="{{ .Site.BaseURL }}{{ .Site.LanguagePrefix }}amp/privacy-policy/" rel="prefetch">{{ i18n "privacy" }}</a>
{{ end }} 



{{- if .Site.IsMultiLingual -}}
{{- range $lang := .Site.Languages -}}
{{- if ne $.Site.Language $lang -}}
<a href="/{{ $lang }}">{{ $lang }}</a>
{{- end -}}
{{- end -}}
{{- end -}}
