<div class="pagination clearfix mb1 mt4" role="navigation" aria-label="Main">
  <div class="left">
  {{ if .Paginator.HasPrev }}
  {{ if eq .Paginator.PageNumber 2 }}
  <a class="pagination-item" href="/{{ .Site.LanguagePrefix }}">{{ i18n "newer" }}</a>
  {{ else }}
  <a class="pagination-item" aria-label="Newer articles" href="{{ .Paginator.Prev.URL }}">{{ i18n "newer" }}</a>
  {{ end }}

  {{ end }}
  </div>
  <div class="right">
  {{ if .Paginator.HasNext }}
  <a class="pagination-item" aria-label="Older articles" href="{{ .Paginator.Next.URL }}">{{ i18n "older" }}</a>

  {{ end }}
  </div>
</div>
