<script type="text/javascript">
    document.querySelector("#sharebutton").hidden = false 
  sharebutton.addEventListener("click", async () => {
      if (navigator.share) {
          navigator.share({
              title: '{{ .Title }}',
              url: '{{ .Permalink }}'
          });
      } else {
        var sharepage = window.open("{{ .Site.BaseURL }}share.html?u={{ .Permalink }}&t={{ .Title }}", "_blank");
         sharepage.focus(); 
      }
  }) 
    //service worker
    if (window.matchMedia('(display-mode: standalone)').matches) {
        
    if ('serviceWorker' in navigator) {
  navigator.serviceWorker.register('/sw.js', { scope: '/' }).then(function(reg) {
// sevìrvice worker solo per PWA
    if(reg.installing) {
      console.log('Service worker installing');
    } else if(reg.waiting) {
      console.log('Service worker installed');
    } else if(reg.active) {
      console.log('Service worker active');
    }

  }).catch(function(error) {
    // registration failed
    console.log('Registration failed with ' + error);
  });
};
    }
  </script> 
  {{if .HasShortcode "gallery"}}
  <script src="/simplelightbox/simple-lightbox.min.js"></script>
  <script>var lightbox = new SimpleLightbox('.gallery a', { /* options */ });</script>
  {{end}}