<div class="embed video-player">
<iframe class="youtube-player" type="text/html" width="100%" height="400"
  src="//www.youtube-nocookie.com/embed/{{ index .Params 0 }}?color=white&modestbranding&rel=0&playsinline&showinfo=0&controls=2" 
  frameborder="0"
  srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto }span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=www.youtube-nocookie.com/embed/{{ index .Params 0 }}?color=white&modestbranding&rel=0&playsinline&showinfo=0&controls=2&autoplay=1><img src=https://img.youtube.com/vi/{{ index .Params 0 }}/hqdefault.jpg loading=lazy ><span>▶</span></a>"
  frameborder="0"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen
  loading="lazy"
>
</iframe>
</div>
